/* Targeting */
@supports (anchor-name: --a) {
  a:target {
    anchor-name: --target;
  }
  li:has(a:is(:hover, :focus-visible)) {
    anchor-name: --anchor;
  }

  ul::before {
    position-anchor: --anchor;
    left: anchor(left);
    top: anchor(top);
    width: anchor-size(width);
    height: anchor-size(height);
  }
}
